.SideMenu {
  width: 60%;
  display: none;
  border-right: 1px solid rgb(239, 243, 244);
}

.SideMenu_logo {
  width: 35px;
  height: 35px;
  margin-left: 30%;
  margin-top: 10px;
}

.SideMenu_list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 25px 0 0 32%;
}

.SideMenu_list li {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 18px;
}

.SideMenu_list img {
  width: 25px;
  height: 25px;
}

.active {
  font-weight: 700;
}

.Tweet_button {
  height: 48px;
  width: 60%;
  background-color: rgb(29, 155, 240);
  color: white;
  border: none;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 700;
  margin-left: 30%;
  margin-top: 20px;
}

@media (min-width: 1250px) {
  .SideMenu {
    display: block;
  }
}
